.container {
  height: auto;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 10px;
}

.nav {
  padding: 10px 0;
}

.nav-wrapper {
  max-width: 1200px;
  margin: auto;
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  gap: 20px;
}

.nav-logo {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.2px;
  color: var(--gray-600);
  font-family: Barlow;
  display: flex;
  align-items: center;
}

.nav-logo .desktop-only {
  display: none;
  margin-left: 10px;
}

.nav-logo .logo {
  background-color: var(--primary-500);
  background-image: linear-gradient(to bottom right, #3b82f6, var(--primary-500));
  color: #fff;
  border-radius: 10px;
  font-weight: 700;
  height: 30px;
  width: 30px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  font-size: 14px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--gray-100);
  padding: 6px 10px;
  border-radius: 8px;
}

.search-results-wrapper {
  background-color: #fff;
  position: fixed;
  top: 40px;
  right: 10px;
  left: 10px;
  margin-top: 30px;
  border-radius: 10px;
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.search-results-wrapper::before {
  content: " ";
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  position: absolute;
  bottom: 100%;
  left: 40%;
}

.search-results-wrapper.show {
  opacity: 1;
  pointer-events: all;
}

.srp-results-header {
  padding: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.results-count p {
  margin-bottom: 6px;
}

.search-results-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.srp-item {
  padding: 10px;
  border-radius: 10px;
  text-align: start;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
}

.srp-name {
  font-weight: 500;
  text-transform: capitalize;
}

.srp-item:hover {
  background-color: var(--primary-100);
}

.srp-item:hover .srp-name {
  color: var(--primary-700);
}

.srp-image {
  height: 80px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 10px;
}

.search-input {
  outline: none;
  border-color: transparent;
  background-color: transparent;
  color: var(--gray-500);
  margin-bottom: -1px;
  width: 100%;
}

.search-input:focus {
  color: var(--gray-800);
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-avatar {
  height: 40px;
  width: 40px;
  overflow: hidden;
  padding: 3px;
  border: 2px solid #0ea5e9;
  border-radius: 9999px;
}

.nav-avatar img {
  height: 100%;
  width: 100%;
  border-radius: 9999px;
  object-fit: contain;
}

.items-count {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 6px;
  border: 2px solid #fff;
  display: block;
  border-radius: 9999px;
  background: var(--primary-500);
  color: #fff;
  margin-top: 4px;
}

.items-count.wishlist {
  background: #f43f5e;
  color: #fff;
}

.nav-button {
  display: flex;
  align-items: center;
  color: var(--gray-600);
  position: relative;
  padding: 6px 8px;
  font-size: 14px;
  border-radius: 999px;
  cursor: pointer;
  user-select: none;
  transition: 150ms;
}

.nav-button i {
  font-size: 18px;
  color: var(--gray-800);
}

.nav-button p {
  letter-spacing: -0.05px;
  font-weight: 500;
  display: none;
}

.nav-button:hover {
  background-color: var(--gray-100);
}

details[data-cart] {
  margin-right: 10px;
}

details[data-wishlist] {
  margin-right: 4px;
}

details[open] > summary::before {
  content: " ";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: default;
  z-index: 500;
  display: block;
}

details[open] > .wishlist-button {
  background-color: #f43f5e;
  color: #fff;
}

details[open] > .cart-button {
  background-color: var(--primary-500);
  color: #fff;
}

details[open] > .wishlist-button i,
details[open] > .cart-button i {
  color: #fff;
}

details[open] > .nav-button .items-count {
  display: none !important;
}

.nav-menu-trigger {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--gray-100);
  padding: 10px 14px;
  border-radius: 9999px;
  color: var(--gray-700);
  cursor: pointer;
  user-select: none;
}

.nav-menu-trigger p {
  display: none;
}

.nav-menu {
  position: fixed;
  background-color: #fff;
  border-radius: 6px;
  min-width: 300px;
  top: 68px;
  right: 10px;
  left: 10px;
  padding: 6px;
  box-shadow: 0 4px 20px 8px rgba(0, 0, 0, 0.1);
  z-index: 510;
  max-height: 350px;
  overflow-y: auto;
}

.nav-menu::-webkit-scrollbar {
  border-radius: 20px;
  width: 10px;
}

.nav-menu::-webkit-scrollbar-track {
  background-color: var(--gray-100);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.nav-menu::-webkit-scrollbar-thumb {
  background-color: var(--gray-300);
  border-radius: 6px;
  width: 8px;
}

.nav-menu::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-400);
}

[data-wishlist] .nav-menu,
[data-cart] .nav-menu {
  padding-top: 0;
}

.nav-menu-caret {
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  position: absolute;
  top: 100%;
  right: 10px;
  margin-top: 16px;
  z-index: 511;
}

.nav-header {
  padding: 18px 8px;
  border-bottom: 1px solid var(--gray-100);
  font-size: 14px;
  margin-bottom: 6px;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.wishlist-item {
  display: flex;
  padding: 14px 10px;
  border-radius: 4px;
  border-bottom: 1px solid var(--gray-100);
}

.wishlist-item:last-child {
  border-bottom: none;
}

.wishlist-item img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 16px;
}

.wishlist-item .item-name {
  margin-top: -6px;
  color: var(--gray-700);
}

.wishlist-item p {
  line-height: 1.5;
}

.wishlist-item .item-stock {
  font-size: 14px;
  color: var(--gray-700);
}

.wishlist-item .item-price {
  font-weight: 600;
  color: var(--gray-700);
}

.item-quantity {
  font-size: 14px;
  color: var(--gray-700);
  background-color: var(--gray-100);
  border: 1px solid var(--gray-200);
  padding: 2px 4px;
  border-radius: 6px;
  width: max-content;
}

.wishlist-item .remove-item-btn {
  color: #f43f5e;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  width: max-content;
  padding: 4px 6px;
  margin-left: -6px;
  margin-top: 6px;
}

.wishlist-item .remove-item-btn:hover {
  background-color: #ffe4e6;
}

.nav-divider {
  border-bottom: 1px solid var(--gray-100);
  margin: 6px 0;
}

.nav-menu button {
  font-size: 14px;
  font-weight: 500;
  padding: 6px 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--gray-800);
  border-radius: 4px;
}

.nav-menu button i {
  font-size: 16px;
  color: var(--gray-500);
}

.nav-menu button:hover {
  background-color: var(--gray-100);
}

.featured-product {
  background-image: linear-gradient(to bottom right, #404040, #171717);
  position: relative;
  padding: 0 10px;
  padding-bottom: 40px;
  overflow: hidden;
}

.featured-product .fp-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.fp-container img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 250px;
  opacity: 0.4;
}

.fp-text {
  padding-top: 20px;
  position: relative;
  z-index: 10;
}

.fp-heading {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -3px;
  margin-bottom: 14px;
  margin-top: 20px;
  color: #fff;
}

.fp-head {
  font-size: 20px;
  max-width: 1200px;
  width: 100%;
  font-weight: 700;
  padding-left: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: var(--gray-800);
}

.fp-subhead {
  line-height: 1.5;
  font-size: 18px;
  color: #ffffffcc;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.08px;
  color: #fff;
  text-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.fp-price {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.fp-price b {
  font-weight: 700;
}

.fp-button {
  padding: 14px 18px;
  background-color: #ffffff1a;
  border-radius: 10px;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  margin-top: 20px;
}

.fp-button:hover {
  background-color: #ffffff26;
}

.fp-button:active {
  background-color: #ffffff33;
}

.fp-button i {
  margin-left: 10px;
}

.products {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding-bottom: 100px;
  padding: 10px;
}

.product {
  border-radius: 5px;
  overflow: hidden;
  padding: 0;
  background-color: white;
  text-align: start;
  display: flex;
  flex-direction: column;
  animation: fadeIn 500ms forwards;
  transition: 150ms;
  position: relative;
}

.product:hover,
.product:focus {
  background-color: #fff;
  color: var(--primary-700);
}

.product-image {
  position: relative;
  height: 140px;
  width: 140px;
}

.product-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.product-image::before {
  content: "Check out";
  font-weight: 600;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  border-radius: 12px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 150ms;
}

.product:hover .product-image::before {
  opacity: 1;
}

.product-discount {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #8b5cf6cc;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 8px;
  border-bottom-left-radius: 0;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
}

.product-whole-details {
  padding-top: 16px;
  width: 350px;
  margin: 0 auto;
}

.product-name {
  text-transform: capitalize;
  font-size: 16px;
  color: var(--gray-700);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 35px;
}

.product-price {
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 14px;
  color: var(--gray-700);
  font-weight: 600;
}

.price-cent,
.price-symbol {
  font-size: 14px;
}

.product-category {
  display: flex;
  font-size: 12px;
  margin-bottom: 16px;
  text-transform: capitalize;
  border: 1px solid var(--gray-200);
  border-radius: 999px;
  padding: 4px 8px;
  width: max-content;
  color: var(--gray-700);
}

.product-category i {
  margin-right: 4px;
}

.product-brand {
  color: var(--gray-500);
  font-size: 14px;
}

.categories-section {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100%;
}

.categories {
  width: 100%;
  display: flex;
  scroll-behavior: smooth;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  padding: 10px 0;
}

.categories-container {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.categories-wrapper {
  position: relative;
  overflow-x: auto;
}

.categories::-webkit-scrollbar {
  height: 0;
}

.categories > * + * {
  margin-left: 1rem;
}

.category {
  padding: 10px 14px;
  border: 1px solid transparent;
  min-width: max-content;
  font-size: 12px;
  border-radius: 9999px;
  font-weight: 500;
  border: 1px solid var(--gray-200);
  color: var(--gray-800);
  text-transform: capitalize;
  transition: 150ms;
  outline: none;
  display: flex;
  align-items: center;
}

.category i {
  margin-right: 6px;
}

.category:hover,
.category:focus {
  border-color: var(--primary-500);
  background-color: #fff;
  color: var(--primary-700);
}

.category:focus {
  box-shadow: 0 0 0 2px var(--primary-200);
}

.category:first-child {
  margin-left: 20px !important;
}

.category:last-child {
  margin-right: 20px !important;
}

.scroll-right,
.scroll-left {
  padding: 8px 10px;
  font-size: 14px;
  background: var(--gray-100);
  min-width: max-content;
  border-radius: 999px;
  color: var(--gray-600);
  display: flex;
  align-items: center;
}

.scroll-left:hover,
.scroll-right:hover {
  background: var(--gray-200);
}

.fade-right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9), #fff);
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 20px;
}

.fade-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9), #fff);
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-right: 20px;
}

.products-category {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  padding: 0 10px;
  color: var(--gray-600);
}

.products-category .emphasized {
  font-size: 20px;
  margin-top: 8px;
  font-weight: 700;
  letter-spacing: -0.05px;
  animation: fadeIn 500ms forwards;
  color: var(--gray-800);
}

.product-modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 200;
  opacity: 0;
  pointer-events: none;
}

.product-modal-backdrop.open {
  opacity: 1;
  pointer-events: all;
}

.product-modal {
  position: absolute;
  background-color: #fff;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  overflow: hidden;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.image-slides {
  position: relative;
  width: max-content;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 30px;
}

.image-slides-container {
  display: flex;
  width: 320px;
  height: 150px;
}

.slide-img-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: 250ms;
}

.slide-img-container img {
  object-fit: contain;
  width: 320px;
  height: 350px;
}

.image-slides-container::-webkit-scrollbar {
  height: 0;
}

.scroll-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 7px 8px;
  border-radius: 999px;
  color: #fff;
  font-size: 20px;
  z-index: 200;
}

.scroll-slide:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.scroll-slide.prev-slide {
  left: 5px;
}

.scroll-slide.next-slide {
  right: 5px;
}

.slides-count-container {
  display: flex;
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
}

.slide-count {
  height: 10px;
  width: 10px;
  padding: 0;
  border-radius: 999px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 4px;
  display: block;
  transition: 150ms;
}

.slide-count.active {
  background-color: #00000099;
}

.product-category.wp {
  margin-bottom: 0;
  margin-right: 10px;
}

.wp-discount {
  background-color: var(--primary-100);
  color: var(--primary-700);
  padding: 6px 8px;
  font-size: 12px;
  font-weight: 500;
}

.wp-name {
  font-size: 22px;
  font-weight: 500;
  color: var(--gray-800);
}

.wp-discounted-price {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 4px;
  margin-top: 20px;
  color: var(--gray-800);
}

.wp-original-price {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-500);
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 20px;
}

.wp-original-price::before {
  content: "From";
  margin-right: 6px;
}

.wp-rating-container {
  display: flex;
  align-items: center;
}

.wp-rate {
  margin-left: 10px;
}

.wp-rating {
  font-family: "DejaVu Sans";
  font-size: 24px;
  letter-spacing: 2px;
  background: #cbd5e1;
  background-image: linear-gradient(#0891b2, #0891b2);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: max-content;
  user-select: none;
}

.wishlist-btn {
  padding: 8px 10px;
  border: 1px solid #fda4af;
  font-size: 12px;
  margin-top: 6px;
  font-weight: 500;
  border-radius: 6px;
  color: #be123c;
  margin-bottom: 20px;
  margin-top: 20px;
}

.wishlist-btn i {
  margin-right: 4px;
}

.wishlist-btn.remove {
  background-color: #ffe4e6;
  border-color: #ffe4e6;
}

.product-quantity {
  display: flex;
  align-items: center;
}

.product-quantity button {
  padding: 6px 8px;
  border: 1px solid var(--gray-300);
  font-size: 14px;
  transition: 150ms;
}

.product-quantity .quantity-count {
  border-top: 1px solid var(--gray-200);
  border-bottom: 1px solid var(--gray-200);
  padding: 6px 14px;
  font-size: 14px;
}

.product-quantity button:hover {
  border-color: var(--gray-400);
}

.product-quantity button:focus {
  border-color: var(--primary-500);
  box-shadow: 0 0 0 3px var(--primary-200);
}

.product-quantity button.increase {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.product-quantity button.decrease {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.action-button-container {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.action-button-container button {
  padding: 10px 14px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
}

.action-button-container .close-modal-btn {
  color: var(--gray-700);
  background-color: var(--gray-200);
}

.cart-btn-container button {
  background-color: var(--primary-500);
  color: #fff;
  margin-right: 10px;
}

.cart-btn-container button i {
  margin-right: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .search-results-wrapper {
    background-color: #fff;
    position: absolute;
    top: 100%;
    margin-top: 30px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  }

  .featured-product {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 40px;
  }

  .fp-container {
    padding-left: 40px;
    padding-top: 40px;
  }

  .search-results-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .nav-button {
    padding-right: 14px;
    padding-left: 10px;
  }

  .nav-button i {
    margin-right: 6px;
  }

  .nav-button p {
    display: inline-block;
  }

  .nav-menu-trigger p {
    display: inline-block;
  }

  details[data-cart] {
    margin-right: 40px;
  }

  details[data-wishlist] {
    margin-right: 20px;
  }

  .nav-menu-trigger i {
    margin-left: 8px;
  }

  .nav-logo .desktop-only {
    display: block;
  }

  .nav-menu {
    position: absolute;
    background-color: #fff;
    border-radius: 6px;
    min-width: 300px;
    width: max-content;
    top: 100%;
    margin-top: 24px;
    left: 100%;
    transform: translateX(-100%);
    padding: 6px;
    box-shadow: 0 4px 20px 8px rgba(0, 0, 0, 0.1);
    z-index: 510;
    max-height: 350px;
    overflow-y: auto;
  }

  [data-wishlist] .nav-menu,
  [data-cart] .nav-menu {
    min-width: 400px;
  }

  .nav-menu-caret {
    right: 30px;
  }

  .products {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .product-price {
    font-size: 24px;
  }

  .featured-product {
    padding: 0;
  }

  .fp-container img {
    position: static;
    opacity: 1;
    height: 100%;
  }

  .fp-subhead {
    font-size: 18px;
    color: #ffffffcc;
  }

  .fp-head {
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
  }

  .fp-heading {
    font-size: 64px;
  }

  .products {
    gap: 50px;
  }

  .product-modal {
    background-color: #fff;
    max-width: max-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    padding: 40px;
    height: max-content;
    flex-direction: row;
  }

  .product-whole-details {
    margin-left: 40px;
  }

  .image-slides-container {
    width: 400px;
    height: 400px;
  }

  .slide-img-container {
    width: 400px;
    height: 400px;
  }

  .slide-img-container img {
    height: 400px;
  }

  .fp-text {
    padding-top: 40px;
  }

  .nav-items {
    margin-left: 20px;
  }

  .product-image {
    height: 200px;
    width: 100%;
  }

  .products-category .emphasized {
    font-size: 26px;
  }
}
